{% extends "twitter_clone_app/base.html" %}

{% block title %}All users{% endblock %}

{% block content %}
<h1>All users</h1>

<ul class="users">
{% for user, gravatar_url in users_with_gravatar.items %}
    <li>
        <img src="{{ gravatar_url }}" alt="{{ user.username }}"
                     class="gravatar" />
        <a href="{% url 'twitter_clone_app:user-profile' user.id %}">
            {{ user.username }}
        </a>
    </li>
{% endfor %}
</ul>

<div>
    <span>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}